<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div class="jumbotron text-center">
    <h2>Hello!</h2>
    <p>This is the default page.</p>
    <p>Either something went wrong, or you followed a link I didn't connect anything to yet. (sorry.)</p>
    <a href="/login"><h3>Log in here</h3></a>
  </div>
</body>

</html>
