.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.image-card {
  width: 200px;
  max-height: auto;
  background-color: #eee;
  border-radius: 1rem;
  margin:0.5rem;
  padding:1rem;
  display:inline-block;
  box-shadow: .1rem .1rem .1rem #333;
}

.image-card img {
  max-width: 180px;
  align-items: center;
  /* border-radius: 1rem; */
}

.image-big-boy {
  max-width: 60%;
}

a {
  color: inherit;
  text-decoration: none;
} 
a:hover {
  color: #845ac7;
  text-decoration: none;
} 